<div class="jumbotron jumbotron-fluid bg-light"</div>

  <div class="container text-left"> <div class="row w-150">
    <div class="col-sm-8">
     <h2 class="display-5 font-weight-bold">This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
      <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros risus, vehicula eu blandit eu, placerat quis mi. Sed scelerisque libero pulvinar tortor fermentum, quis fermentum velit pulvinar.</p>
    </div>
    <div class="col-sm-4">
     <img src="assets/img/1.jpg" class="rounded-circle float-right mr-5" alt="1.jpg" width="300">
	</div>

     
 
  </div>
</div>
