<!-- your html code here -->
<div class="jumbotron>">
    <div class="row bg-white p-5">

        <div class="col-3 p-1">
            <img src="assets/img/2.jpg" class="rounded-circle" alt="2.jpg" width="250"/>
        </div>
        <div class="col-9 p-1 text-left">
            <div class=" text-left bg-white p-0">
                <div class=" mb-3">
                    <h1 class="display-4">The Second Heading <span class ="text-secondary">is Pretty Cool</span></h1>
                    <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                </div>
            </div>
        </div>
        </div>
    </div>

